@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #2449ee , #d6126d);
  background-repeat: initial;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  box-sizing: border-box;

}

main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

/* BORED BOT */

.bot-box {
  text-align: center;
  width: 60%;
}


#btn {
  width: 100px;
  height: 100px;
  background-color: red;
  cursor: pointer;
}

#btn:hover {
  background-color: #3612d6;
}

.feature {
  background: #fc4a1a;  
  background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  
  background: linear-gradient(to left, #f7b733, #fc4a1a);
}

#title {
  font-size: 4rem;
}

#activity {
  font-size: 2rem;
}

.hidden {
  display: none;
}




/* TO DO LIST */

.list-box {
  text-align: center;
  width: 70%;
  padding: 0 2rem;
}

ul {
  padding-left: 0;
  list-style: none;
  font-size: 2em;
  background-color: #FFF;
}

li {
  border-bottom: 1px solid black;
  padding-left: 1rem;
  text-align: start;
  color: black;
  letter-spacing: 0.5px;

}

ul li:hover {
  background: #d1d1d1;
  cursor: pointer;
}


.checked {
  text-decoration: line-through;
  background-color: rgb(129, 124, 124);
}

input {

  height: 2rem;
  font-size: 2rem;
}

#add-btn,
#delete-btn,
.color-scheme-btn {
  margin-right: 1em;
  display:inline-block;
  padding: 1em;
  background-color: #FFF;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 2%;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#add-btn:hover, 
#delete-btn:hover,
.color-scheme-btn:hover {
  /* background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf; */
  background-color: rgb(245, 245, 245);
}
#add-btn:active, 
#delete-btn:active {
  position:relative;
	top:1px;
}


/* MEDIA QUERY */

@media (max-width: 675px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  button {
    padding-left: 0.5em;
    margin-top: 0.5em;
  }
  
  .list-box {
    display: flex;
    flex-direction: column;    
  }
}




